/* Reset inicial para eliminar los valores por defecto de los elementos y establecer la familia de fuentes*/

*{
  margin: 0;
  padding: 0;
  font-family: 'poppins';
  scroll-behavior: smooth;
}

/* Estilos del Header*/
header {
  height: 100px;
  background-color: #4d4d5c;
  padding: 0 20px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  text-transform: uppercase;
  color: #6cc091;
  font-weight: 700;
}

#logo-link {
  text-decoration: none;
}

.menu a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  padding: 0 10px;
  transition: 0.4s;
}

.menu a:hover {
  color: #6cc091;
}

.mostrar-menu,
.esconder-menu {
  font-size: 30px;
  cursor: pointer;
  /* Importante! el display:none es para que no se muestre la hamburguesa en pantallas grandes */
  display: none;
  transition: 0.4s;
}

.mostrar-menu {
  order: 1;
}

.mostrar-menu:hover,
.esconder-menu:hover {
  background-color: #6cc091;
}

#check {
  display: none;
}

/* Estilos del banner */
#banner {
  padding: 0 50px;
  background-image: url(pictures/banner.jpg);
  height: 80vh;
  background-size: cover;
  background-position: center;
}

/* Aca se agrega la capa de niebla sobre el banner */
#banner::before {
  content: "";
  background: rgba(77,77,92,0.6);
  position: absolute;
  width: 100%;
  height: 80vh;
  left: 0;
}

.contenido-banner h3 {
  text-transform: uppercase;
  font-size: 40px;
  font-weight: 600;
  padding: 10px 0;
}

.contenido-banner h3 span {
  font-weight: 800;
}

.contenido-banner {
  position: relative;
  height: 100%;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.boton-banner {
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: none;
  color: white;
  border: solid 1px #6cc091;
  padding: 20px 40px;
  /* La siguiente linea se usa para que un bloque no ocupe todo el ancho de la pantalla, sino las medidas que se le asignen*/
  align-self: baseline;
}

.boton-banner:hover {
  background-color: #6cc09070;
  transition: 0.4s;
}

#servicios {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.tarjetas {
  display: flex;
  flex-direction: column;
  width: 25%;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 50px 10px;
}

.tarjetas img {
  padding-bottom: 15px;
}

.tarjetas p {
  padding: 20px 0;
}

#servicios a{
  text-decoration: none;
  color: #6cc091;
  border: solid 1px #6cc091;
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: bold;
  padding: 20px 40px;
}

#servicios a:hover {
  background-color: #6cc091;
  color: white;
  transition: 0.4s;
}

#iconos {
  padding: 0px 50px;
  background-color: #4d4d5c;
}

.contenido-iconos {
  display: flex;
  padding: 50px;
  justify-content: space-between;
  text-align: center;
}

.contenido-iconos div {
  flex: 1;
  margin: 20px;    
}

.tarjeta-central {
  border-right: solid 1px rgba(255, 255, 255, 0.397);
  border-left: solid 1px rgba(255, 255, 255, 0.39);
}

.contenido-iconos i {
  color: #6cc091;
  padding-bottom: 10px;
}

.contenido-iconos h3 {
  color: #6cc091;
  padding-bottom: 10px;
}

.contenido-iconos p {
  color: white;
  padding: 0 25px;
}

/* Estilos del formulario de contacto */
#contacto {
  background-color: #6cc091;
  color: white;
  padding: 50px 0;
}

#contacto h3 {
  text-align: center;
  font-size: 35px;
  text-transform: uppercase;
  margin-bottom: 25px;
}

#contacto form {
  max-width: 80%;
  margin: 0 auto;
}

.datos-form {
  display: flex;
}

.datos-form div {
  padding: 10px;
  flex: 1;
}

form lab {
  display: block;
  margin-bottom: 10px;
}

form input,
form textarea {
  background-color: #6cc091;
  border-radius: 10px;
  border: 2px solid #d4f1e1;
  padding: 10px 5px;
  outline: 0;
  color: white;
  width: 100%;
}

form input:focus,
form textarea:focus {
  border-color: #4bae77;
  box-shadow: 0,0,0,1px #4bae77;
}

form input::placeholder,
form textarea::placeholder {
  color: white;
}

.mensaje {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.boton-formulario {
  display: block;
  padding: 20px 30px;
  border: solid 1px white;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 10px;
  margin-left: 10px;
  text-align: center;
}

.boton-formulario:hover {
  background-color: #4fa776ad;
}

.boton-formulario a {
  text-decoration: none;
  color: white;
}

footer p {
  text-align: center;
  background-color: #4d4d5c;
  padding: 10px 0;
  color: white;
}



/* Aca se aplican los estilos para el responsive */

@media(max-width:768px) {
  .mostrar-menu,
  .esconder-menu {
    display: block;
  }

  /* Con esto se crea el menu emergente en pantallas menores a 768px */
  .menu {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: #4d4d5c;
    right: -100%;
    top: 0;
    text-align: center;
    padding: 100px 0;
    z-index: 100;
    transition: 0.8;
  }

  .menu a{
    display: block;
    padding: 15px 0;
  }

  .esconder-menu {
    position: absolute;
    top: 40px;
    right: 40px;
  }

  /* Con esta propiedad se abre y cierra el menu en pantallas pequeñas */
  #check:checked ~ .menu {
    right: 0;
  }

  #servicios {
    flex-direction: column;
    align-items: center;
  }

  .tarjetas {
    width: 50%;
  }

  /* Responsive de la seccion iconos */

  .contenido-iconos {
    flex-direction: column;
  }

  .tarjeta-central {
    border: none;
  }

  .contenido-iconos div {
    margin: 25px 0;
  }

  .datos-form {
    flex-direction: column;
  }
}
